body{
    margin: 0;
    padding: 0;
}
.home-heading{
    text-align: center;
    background-color: rgba(113, 10, 10, 0.619);
    color: white;
    margin: 0;
    padding: 20px ;
}
.home-img{
    height: 45vw;
    width: 100%;
}

.sweetProductContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sweetProduct{
    border: 2px solid rgba(113, 10, 10, 0.619);;
    border-radius: 10px;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 10px 30px;
}