.home-img{
    height: 90vh;
    width: 100%;
}

.sweetProductContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sweetProduct{
    border: 2px solid aqua;
    border-radius: 10px;
    background-color: blanchedalmond;
    padding: 30px;
    margin: auto;
}